.aa{
    text-align:center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.button{
    background-color:white;
    border-radius:5px 5px;
    border-color:gray;
}
.textBox{
    margin-bottom:10px;
    border-radius:5px;
    border-color:gray;
}
body{
    width : 100%;
    height : 100%;
    text-align : center;
}

